@model TeamOverCinema.Models.Movies

@{
    ViewData["Title"] = "MovieTimes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
.footer {
position:static;
left: 0;
bottom: 0;
width: 150%;
background-color: #262626;
color: white;
text-align: center;
align-content:center;
margin-left: -325px;
padding: 3px;
margin-top: 0px;
margin-bottom: -100px;
}
.prefooter {
position:static;
left: 0;
bottom: 0;
width: 150%;
background-color: #161B22;
color: white;
text-align: center;
align-content:center;
margin-left: -325px;
padding: 3px;
margin-top: 0px;
margin-bottom: 0px;
}

</style>

<div>
    <h1>Movie Times</h1>
    <hr>
    <dl class="row4">
        <dt class = "col-sm-2">
            Movie Name:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieName)
        </dd>
    </dl>
</div>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">8:00am</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">10:00am</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">12:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">2:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">4:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">6:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <br><br>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">8:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">10:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">12:00am</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <hr>

    <h2>Tomorrows Times</h2>

<br>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">7:00am</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">9:00am</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">10:30am</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">12:30pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">1:30pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">3:30pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <br><br>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">4:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">5:30pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">7:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">8:30pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">9:30pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">11:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <br><br><br><br><br><br><br>

<prefooter>
        <div class="prefooter">

        <p>Our locations: Henderson    Waiheke    Papakura    Albany    Newmarket </p>

         <a class="textcolour" href='https://localhost:44312/Home/AboutUs'>About Us</a> <a class="textcolour" href='https://localhost:44312/Home/Privacy'>Privacy</a>
         
         <p style="padding-top:20px;">Contact us at OverSightcinema@gmail.com or call us at 0800 123 456<p>
    </div>
    </prefooter>

<footer>
        <div class="footer">
        <a href="https://www.facebook.com/"> <img border="0" alt="FaceBook" src="https://icon-library.com/images/facebook-icon-png-white/facebook-icon-png-white-20.jpg" width="50" height="50"></a>
        <a href="https://twitter.com/?lang=en"> <img border="0" alt="Twitter" src="https://cambridgebrc.nihr.ac.uk/wp-content/uploads/2020/06/twitter-icon-white-transparent-6.jpg.png" width="50" height="50"></a>
        <a href="https://www.instagram.com/"> <img border="0" alt="Instagram" src="https://www.logolynx.com/images/logolynx/s_30/304dbd9b624d6051585aac35a3677e9c.png" width="50" height="50"></a>
    </div>
    </footer>




   


