@model TeamOverCinema.Models.Movies

@{
    ViewData["Title"] = "MovieTimes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Movies</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieName)
        </dd>
    </dl>
</div>

<button class= "colors">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">Test</a>
    </button>
