@model TeamOverCinema.Models.Movies

@{
    ViewData["Title"] = "MovieTimes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Movie Times</h1>
    <hr>
    <dl class="row4">
        <dt class = "col-sm-2">
            Movie Name:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovieName)
        </dd>
    </dl>
</div>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">8:00am</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">10:00am</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">12:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">2:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">4:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">6:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <br><br>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">8:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">10:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">12:00am</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <hr>

    <h2>Tomorrows Times</h2>

<br>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">7:00am</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">9:00am</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">10:30am</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">12:30pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">1:30pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">3:30pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <br><br>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">4:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">5:30pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">7:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">8:30pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">9:30pm</a>
    </button>
    <button class= "TimesButton3">
    </button>

    <button class= "TimesButton1">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID" style="color:#e0dc10;">-</a>
    </button>
    <button class= "TimesButton2">
   <a asp-controller="Movies" asp-action="Seats" asp-route-id="@Model?.ID">11:00pm</a>
    </button>
    <button class= "TimesButton3">
    </button>




   


