@{
    ViewData["Title"] = "Admin Page";
}
<h1>@ViewData["Title"]</h1>

<head>
<style>
.footer {
position:static;
left: 0;
bottom: 0;
width: 150%;
background-color: #262626;
color: white;
text-align: center;
align-content:center;
margin-left: -325px;
padding: 3px;
margin-top: 0px;
margin-bottom: -100px;
}
.prefooter {
position:static;
left: 0;
bottom: 0;
width: 150%;
background-color: #161B22;
color: white;
text-align: center;
align-content:center;
margin-left: -325px;
padding: 3px;
margin-top: 0px;
margin-bottom: 0px;
}
div.NowShowing {
  margin: 2px;
  float: left;
  width: 180px;
  border: 1px solid #ccc;
}

div.NowShowing:hover {
  border: 1px solid #777;
}

div.NowShowing img {
  width: 100%;
  height: 265px;

}

div.desc {
  padding: 1px;
  text-align: center;
}
div.SubHeadingComingSoon {
margin-top: 400px;
}
div.ComingSoon {
  margin: 2px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.ComingSoon:hover {
  border: 1px solid #777;
}

div.ComingSoon img {
  width: 100%;
  height: auto;
}
div.Button {
    margin-top: 400px;
    padding: 20px;
}
</style>
</head>
<body>

<h3>Admin Page </h3>

<div class="SubHeadingComingSoon">
        <h3>Coming Soon: </h3>
</div>
<div class="ComingSoon">
  <img src="https://m.media-amazon.com/images/M/MV5BMmIwZDMyYWUtNTU0ZS00ODJhLTg2ZmEtMTk5ZmYzODcxODYxXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_.jpg" alt="Top Gun: Maverick" width="600" height="400">
  <div class="desc">Top Gun: Maverick - Coming Soon</div>
</div>

<div class="ComingSoon">
  <img src="https://www.monsterfest.com.au/monsterfest/wp-content/uploads/2022/02/JW3_INT_DIGITAL1SHEET_ARCADIA_BLOCK_TT_AUS.jpg" alt="Jurassic World: Dominion" width="600" height="400">
  <div class="desc">Jurassic World: Dominion - Coming Soon</div>
</div>

<div class="ComingSoon">
  <img src="https://lumiere-a.akamaihd.net/v1/images/p_lightyear_v3_22043_36db91d2.jpeg" alt="Lighjtyear" width="600" height="400">
  <div class="desc">Lightyear - New Release</div>
</div>

<div class="ComingSoon">
  <img src="https://i.etsystatic.com/15810408/r/il/388ec6/2239141293/il_fullxfull.2239141293_bxt1.jpg" alt="Minions: The Rise of Gru" width="600" height="400">
  <div class="desc">Minions: The Rise of Gru - Coming Soon</div>
</div>

<div class="ComingSoon">
  <img src="https://pbs.twimg.com/media/FQzsdTBVkAERLwI?format=jpg&name=medium" alt="Thor: Love and Thunder" width="600" height="400">
  <div class="desc">Thor: Love and Thunder - Coming Soon</div>
</div>

<div class="ComingSoon">
  <img src="https://omg.blog/wp-content/uploads/2022/03/NopePoster.jpg" alt="Nope" width="600" height="400">
  <div class="desc">Nope - Coming Soon</div>
</div>

<div class="ComingSoon">
  <img src="https://media-cache.cinematerial.com/p/500x/3ndccksg/where-the-crawdads-sing-australian-movie-poster.jpg?v=1647962467" alt="Where The Crawdads Sing" width="600" height="400">
  <div class="desc">Where The Crawdads Sing - Coming Soon</div>
</div>

<div class="CentreButton2">

<div class="Button">
    <button>
        <a href='https://localhost:44312/Home/PrivateCinemaB' alt='Broken Link'>Private bookings</a>
    </button>
    <button>
        <a href='https://localhost:44312/Home/AdminBookings' alt='Broken Link'>Bookings</a>
    </button>
</div>

<prefooter>
        <div class="prefooter">

        <p>Our locations: Henderson    Waiheke    Papakura    Albany    Newmarket </p>

         <a class="textcolour" href='https://localhost:44312/Home/AboutUs'>About Us</a> <a class="textcolour" href='https://localhost:44312/Home/Privacy'>Privacy</a> 
        <br>
    </div>
    </prefooter>

<footer>
        <div class="footer">
        <a href="https://www.facebook.com/"> <img border="0" alt="FaceBook" src="https://icon-library.com/images/facebook-icon-png-white/facebook-icon-png-white-20.jpg" width="50" height="50"></a>
        <a href="https://twitter.com/?lang=en"> <img border="0" alt="Twitter" src="https://cambridgebrc.nihr.ac.uk/wp-content/uploads/2020/06/twitter-icon-white-transparent-6.jpg.png" width="50" height="50"></a>
        <a href="https://www.instagram.com/"> <img border="0" alt="Instagram" src="https://www.logolynx.com/images/logolynx/s_30/304dbd9b624d6051585aac35a3677e9c.png" width="50" height="50"></a>
    </div>
    </footer>
</body>


