@{
    ViewData["Title"] = "Admin Page";
}
<h1>@ViewData["Title"]</h1>

<head>
<style>
div.NowShowing {
  margin: 2px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.NowShowing:hover {
  border: 1px solid #777;
}

div.NowShowing img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 1px;
  text-align: center;
}
div.SubHeadingComingSoon {
margin-top: 400px;
}
div.ComingSoon {
  margin: 2px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.ComingSoon:hover {
  border: 1px solid #777;
}

div.ComingSoon img {
  width: 100%;
  height: auto;
}
div.Button {
    margin-top: 400px;
    padding: 20px;
}
</style>
</head>
<body>

<h3>Currently showing movies: </h3>


<div class="NowShowing">
  <img src="https://www.vitalthrills.com/wp-content/uploads/2021/10/batmanposter2.jpg" alt="The Batman" width="600" height="400">
  <div class="desc">The Batman - New Release</div>
</div>

<div class="NowShowing">
  <img src="https://assets-prd.ignimgs.com/2022/01/13/uncharted-poster-full-1642086040683.jpg" alt="Uncharter" width="600" height="400">
  <div class="desc">Uncharted - New Release</div>
</div>

<div class="NowShowing">
  <img src="https://m.media-amazon.com/images/M/MV5BNWM0ZGJlMzMtZmYwMi00NzI3LTgzMzMtNjMzNjliNDRmZmFlXkEyXkFqcGdeQXVyMTM1MTE1NDMx._V1_FMjpg_UX1000_.jpg" alt="Doctor Strange Multiver of Madness" width="600" height="400">
  <div class="desc">Doctor Strange Multiverse of Madness - New Release</div>
</div>

<div class="NowShowing">
  <img src="https://m.media-amazon.com/images/I/71sjqX5JayL._AC_SL1200_.jpg" alt="Sonic the Hedgehog 2" width="600" height="400">
  <div class="desc">Sonic the Hedgehog 2 - New Release</div>
</div>

<div class="NowShowing">
  <img src="https://m.media-amazon.com/images/M/MV5BZGQ1NjQyNDMtNzFlZS00ZGIzLTliMWUtNGJkMGMzNTBjNDg0XkEyXkFqcGdeQXVyMTE1NDI5MDQx._V1_.jpg" alt="Fantastic Beasts 3" width="600" height="400">
  <div class="desc">Fantastic Beasts: The Secrets of Dumbledore - New Release</div>
</div>

<div class="NowShowing">
  <img src="https://m.media-amazon.com/images/M/MV5BMDhkYmU0MzctMWEzNy00ODg1LWI3ZjAtMGZlZjkzNWVmMzVjXkEyXkFqcGdeQXVyMTM1MTE1NDMx._V1_FMjpg_UX1000_.jpg" alt="The Bad Guys" width="600" height="400">
  <div class="desc">The Bad Guys - New Release</div>
</div>

<div class="NowShowing">
  <img src="https://m.media-amazon.com/images/M/MV5BYTdiOTIyZTQtNmQ1OS00NjZlLWIyMTgtYzk5Y2M3ZDVmMDk1XkEyXkFqcGdeQXVyMTAzMDg4NzU0._V1_FMjpg_UX1000_.jpg" alt="Everything Everywhere All At Once" width="600" height="400">
  <div class="desc">Everything Everywhere All At Once - New Release</div>
</div>



<div class="SubHeadingComingSoon">
        <h3>Coming Soon: </h3>
</div>
<div class="ComingSoon">
  <img src="https://m.media-amazon.com/images/M/MV5BMmIwZDMyYWUtNTU0ZS00ODJhLTg2ZmEtMTk5ZmYzODcxODYxXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_.jpg" alt="Top Gun: Maverick" width="600" height="400">
  <div class="desc">Top Gun: Maverick - Coming Soon</div>
</div>

<div class="ComingSoon">
  <img src="https://www.monsterfest.com.au/monsterfest/wp-content/uploads/2022/02/JW3_INT_DIGITAL1SHEET_ARCADIA_BLOCK_TT_AUS.jpg" alt="Jurassic World: Dominion" width="600" height="400">
  <div class="desc">Jurassic World: Dominion - Coming Soon</div>
</div>

<div class="ComingSoon">
  <img src="https://lumiere-a.akamaihd.net/v1/images/p_lightyear_v3_22043_36db91d2.jpeg" alt="Lighjtyear" width="600" height="400">
  <div class="desc">Lightyear - New Release</div>
</div>

<div class="ComingSoon">
  <img src="https://i.etsystatic.com/15810408/r/il/388ec6/2239141293/il_fullxfull.2239141293_bxt1.jpg" alt="Minions: The Rise of Gru" width="600" height="400">
  <div class="desc">Minions: The Rise of Gru - Coming Soon</div>
</div>

<div class="ComingSoon">
  <img src="https://pbs.twimg.com/media/FQzsdTBVkAERLwI?format=jpg&name=medium" alt="Thor: Love and Thunder" width="600" height="400">
  <div class="desc">Thor: Love and Thunder - Coming Soon</div>
</div>

<div class="ComingSoon">
  <img src="https://omg.blog/wp-content/uploads/2022/03/NopePoster.jpg" alt="Nope" width="600" height="400">
  <div class="desc">Nope - Coming Soon</div>
</div>

<div class="ComingSoon">
  <img src="https://media-cache.cinematerial.com/p/500x/3ndccksg/where-the-crawdads-sing-australian-movie-poster.jpg?v=1647962467" alt="Where The Crawdads Sing" width="600" height="400">
  <div class="desc">Where The Crawdads Sing - Coming Soon</div>
</div>

<div class="Button">
    <button>
        <a href='https://localhost:44312/Home/AdminSeatSelection' alt='Broken Link'>Seat Selection Page</a>
    </button>
    <button>
        <a href='https://localhost:44312/Home/AdminBookings' alt='Broken Link'>Seat Selection Page</a>
    </button>
</div>

</body>


