
@{
    ViewData["Title"] = "AdminBookings";
}

<h1>AdminBookings</h1>

<h2>Private Cinema Bookings</h2>
<table style="width:100%">
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Phone</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>1234567890</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>0278899000</td>
  </tr>
</table>

<br />

<h2> Public Seat Bookings.</h2>
<div class="displayerBoxes">
<center>
  <table class="Displaytable">
  <tr>
    <th>Name</th>
    <th>Number of Seats</th>
    <th>Movie</th>
    <th>Time of Movie</th>
    <th>Seats</th>
  </tr>
  <tr>
    <td><textarea id="nameDisplay"></textarea></td>
    <td><textarea id="NumberDisplay"></textarea></td>
    <td><textarea id="MovieDisplay"></textarea></td>
    <td><textarea id="TimeDisplay"></textarea></td>
    <td><textarea id="seatsDisplay"></textarea></td>

  </tr>
</table>
</center>
</div>
<br >
<div class= "CentreButton">

<button class= "colors">
   
        <a class= "button2" href='https://localhost:44312/Movies' alt='Broken Link'>Admin Page</a>
    </button>
    </div>