
@{
    ViewData["Title"] = "FoodandDrink";
}

<h1>Food and Drinks</h1>

<br>
<br>

<div class="row d-flex justify-content-center">
        <div class="col-6 d-flex align-items-center justify-content-center">
    <img src= "https://i0.wp.com/www.onceuponachef.com/images/2015/06/Crazy-Good-Spicy-Italian-Popcorn.jpg?resize=760%2C505&ssl=1" style= "height:100%;width:90%;">
    </div>
<div class="col-6">
    <h2>Popcorn</h2>
    <h3>Small Popcorn $12.50</h3>
    <p class="w3-text-grey">Our Medium Popcorn with EXTRA butter comes in a 1l container filled to the brim with our hand made exquiste popcorn. </p>
    <p class="w3-text-grey"> Made specily for your convenioce. Quality may vary from unit. T's and c's not included</p>

    <h3>Medium Popcorn $15.50</h3>
    <p class="w3-text-grey">Our Medium Popcorn with EXTRA butter comes in a 1l container filled to the brim with our hand made exquiste popcorn. </p>
    <p class="w3-text-grey"> Made specily for your convenioce. Quality may vary from unit. T's and c's not included</p>

    <h3>Large Popcorn $20.00</h3>
    <p class="w3-text-grey">Our Medium Popcorn with EXTRA butter comes in a 1l container filled to the brim with our hand made exquiste popcorn. </p>
    <p class="w3-text-grey"> Made specily for your convenioce. Quality may vary from unit. T's and c's not included</p>
</div>
</div>

<br>
<br>
<br>

<div class="row d-flex justify-content-center">
        <div class="col-6 d-flex align-items-center justify-content-center">
    <img src= "https://www.freestufffinder.com/wp-content/uploads/2017/06/maltesers-candy-660x424-1.jpg" style= "height:100%;width:90%;">
    </div>
<div class="col-6 ">
    <h2>Sweets and Hot Chips</h2>
    <h3>Malteezrs Popular $13.50</h3>
<p class="w3-text-grey">It is bussin.</p>

    <h3>M%M's $14.50</h3>
<p class="w3-text-grey">Solid choice</p>

    <h3>Chips $11.00</h3>
<p class="w3-text-grey">Doesn't come with ketchup</p>

</div>
</div>



<br>
<br>
<br>

<div class="row d-flex justify-content-center">
        <div class="col-6 d-flex align-items-center justify-content-center">
<img src= "https://img.apmcdn.org/75317a2a13951c5042ec0279341641cd89a5dd25/square/84efc8-20180801-coca-cola.jpg" style=  "height:100%; width:90%;">

    </div>
<div class="col-6 ">
    <h2>Drinks</h2>
   <h3>Coke $5.50</h3>
<p class="w3-text-grey">Ask the waiter</p>

<h3>Water $5.50</h3>
<p class="w3-text-grey">Ask the waiter</p>

<h3>Sprite $5.50</h3>
<p class="w3-text-grey">Ask the waiter</p>

<h3>Fanta $5.50</h3>
<p class="w3-text-grey">Ask the waiter</p>

<h3>Pepsi $5.50</h3>
<p class="w3-text-grey">Ask the waiter</p>

<h3>Mountian Dew $5.50</h3>
<p class="w3-text-grey">Ask the waiter</p>

<h3>Bundaburg Ginger Beer $5.50</h3>
<p class="w3-text-grey">Ask the waiter</p>

<h3> Note: </h3>
<p>Unfortunatly we will only be able for you to order onsite.</p>

</div>
</div>

