@model IEnumerable<TeamOverCinema.Models.Events>

@{
    ViewData["Title"] = "Gifts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
  <title>Bootstrap Card</title>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>


 /*Footer css code*/
.footer {
position:static;
left: 0;
bottom: 0;
width: 150%;
background-color: #262626;
color: white;
text-align: center;
align-content:center;
margin-left: -325px;
padding: 3px;
margin-top: 0px;
margin-bottom: -100px;
}
.prefooter {
position:static;
left: 0;
bottom: 0;
width: 150%;
background-color: #161B22;
color: white;
text-align: center;
align-content:center;
margin-left: -325px;
padding: 3px;
margin-top: 0px;
margin-bottom: 0px;
}


.column {
    float: left;
    padding: 0px;
}

.middle {
    width: 32%;
}

.middle2 {
    width: 50%;
}

.left2, .right2
{
    width: 25%;
}

.left, .right { /* sets rows on left and right at 28% so they are contained at tht side within the div */
    width: 33%;
}
/* Adds style to the card div holing texts and other stuff */
.card {
    background-color: #282f4d;
    padding: 20px;
    margin-top: 20px;
}





    </style>
</head>
<body>

    <div class="text-center">
        <h1 class="display-4">Oversight Gifts</h1>
         
        <div class="card">
            <h2>Our gifts</h2>
            <h5></h5>
            <div class="row">
                <div class="column left">
                    <a href="https://localhost:44312/Home/PaymentGifts">
                    <img src="https://cdn.discordapp.com/attachments/816976776852668459/981203613118521394/23232.PNG" alt="10" style="width:75%;">
                    </a>
                    <br>
                    <br>
                    <a href="https://localhost:44312/Home/PaymentGifts">
                    <img src="https://media.discordapp.net/attachments/816976776852668459/981203612401283133/1awfa2.PNG" alt="20" style="width:75%;">
                    </a>
                    <br>
                    <br>
                    
                </div>
                <div class="column left">
                    <a href="https://localhost:44312/Home/PaymentGifts">
                    <img src="https://media.discordapp.net/attachments/816976776852668459/981203613445672990/123123.PNG" alt="50" style="width:75%;">
                    </a>
                    <br>
                    <br>
                    <a href="https://localhost:44312/Home/PaymentGifts">
                    <img src="https://media.discordapp.net/attachments/816976776852668459/981203613667962941/q23q3223q.PNG" alt="100" style="width:75%;">
                    </a>
                    
                    
                </div>
                <div class="column left">
                    <a href="https://localhost:44312/Home/PaymentGifts">
                    <img src="https://media.discordapp.net/attachments/816976776852668459/981203612736815134/12312.PNG" alt="vip" style="width:75%;">
                    <br>
                    <br>
                    <a href="https://localhost:44312/Home/PaymentGifts">
                    <img src="https://cdn.discordapp.com/attachments/816976776852668459/981492881216929792/unknown.png" alt="Food" style="width:75%;">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



<prefooter>
        <div class="prefooter">

        <p>Our locations: Henderson    Waiheke    Papakura    Albany    Newmarket </p>

         <a class="textcolour" href='https://localhost:44312/Home/AboutUs'>About Us</a> <a class="textcolour" href='https://localhost:44312/Home/Privacy'>Privacy</a> 
        <br>
    </div>
    </prefooter>

<footer>
        <div class="footer">
        <a href="https://www.facebook.com/"> <img border="0" alt="FaceBook" src="https://icon-library.com/images/facebook-icon-png-white/facebook-icon-png-white-20.jpg" width="50" height="50"></a>
        <a href="https://twitter.com/?lang=en"> <img border="0" alt="Twitter" src="https://cambridgebrc.nihr.ac.uk/wp-content/uploads/2020/06/twitter-icon-white-transparent-6.jpg.png" width="50" height="50"></a>
        <a href="https://www.instagram.com/"> <img border="0" alt="Instagram" src="https://www.logolynx.com/images/logolynx/s_30/304dbd9b624d6051585aac35a3677e9c.png" width="50" height="50"></a>
    </div>
    </footer>
</body>