@model TeamOverCinema.Models.Users

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<h4>Users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="col-3">
                <label asp-for="UName"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="UName" class="form-controll" />
            </div>
            <div class="col-3">
                <label asp-for="Password"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="Password" class="form-control" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

