
@{
    ViewData["Title"] = "PrivateCinemaB";
}


<html lang="en">
  <head>
    <title> PrivateCinemaB </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>

  <style>
.footer {
position:static;
left: 0;
bottom: 0;
width: 150%;
background-color: #262626;
color: white;
text-align: center;
align-content:center;
margin-left: -325px;
padding: 3px;
margin-top: 0px;
margin-bottom: -100px;
}
.prefooter {
position:static;
left: 0;
bottom: 0;
width: 150%;
background-color: #161B22;
color: white;
text-align: center;
align-content:center;
margin-left: -325px;
padding: 3px;
margin-top: 0px;
margin-bottom: 0px;
}

    div frm-row {
    margin-left: 5mm;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    }   
    div input {
    margin: 5mm;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: 10%;
}
    div section {
        width:auto;
    }


  </style>


  <body>
      <div class="smart-wrap">
  <div class="smart-forms smart-container wrap-2">
   
    <div class="form-header header-primary">
      <h1><i class="fa fa-calendar"></i>Movies Booking</h1>
    </div>
     <forum action="/AdminBookings.cs">
         <br>
         
      <div class="form-body">
       
       <!-- OUR FORM ELEMENTS WILL GO HERE -->           
       
         <div class="section">
  <label for="guestname" class="field-label">Please Enter Your Name</label>
  <label for="guestname" class="field prepend-icon">
    <input type="text" name="guestname" id="guestname" class="gui-input" required="" placeholder="John Doe/Jane Doe">
    <span class="field-icon"><i class="fa fa-user"></i></span>  
  </label>
</div>
               
<div class="frm-row">
  <div class="section colm colm6">
    <label for="guestemail" class="field-label">Email Address</label>
    <label for="guestemail" class="field prepend-icon">
      <input type="email" name="guestemail" id="guestemail" class="gui-input" required="" placeholder="john@something.com">
      <span class="field-icon"><i class="fa fa-envelope"></i></span>  
    </label>
  </div>
   
  <div class="section colm colm6">
    <label for="guestelephone" class="field-label">Telephone / Mobile</label>
    <label for="guestelephone" class="field prepend-icon">
      <input type="text" name="guestelephone" id="guestelephone" class="gui-input" required="" placeholder="Telephone / Moble Number">
      <span class="field-icon"><i class="fa fa-phone-square"></i></span>  
    </label>
  </div>
</div>
 
<div class="frm-row">
  <div class="section colm colm6">
    <label for="adults" class="field-label">Number of Adults</label>
    <label for="adults" class="field prepend-icon">
      <input type="number" id="adults" name="adults" class="gui-input" required="" placeholder="Number of adults">
      <span class="field-icon"><i class="fa fa-users"></i></span>  
    </label>
  </div>
   
  <div class="section colm colm6">
    <label for="children" class="field-label">Number of Children</label>
    <label for="children" class="field prepend-icon">
      <input type="number" id="children" name="children" class="gui-input" required="" placeholder="Number of children">
      <span class="field-icon"><i class="fa fa-users"></i></span>  
    </label>
  </div>
</div>
 
<div class="frm-row">
  <div class="section colm colm6">
    <label for="NamOfMovie" class="field-label">Name of Movie</label>
    <label for="NamOfMovie" class="field prepend-icon">
      <input type="text" id="NamOfMovie" name="NamOfMovie" class="gui-input" required="" placeholder="mm/dd/yyyy">
      <span class="field-icon"><i class="fa fa-calendar"></i></span>  
    </label>
  </div>
   
  <div class="section colm colm6">
    <label for="DayOfMovie" class="field-label">Day of movie.</label>
    <label for="DayOfMovie" class="field prepend-icon">
      <input type="text" id="DayOfMovie" name="DayOfMovie" class="gui-input" required="" placeholder="mm/dd/yyyy">
      <span class="field-icon"><i class="fa fa-calendar"></i></span>  
    </label>
  </div>
</div>
 

               
  </div>
</div>
 
    <br>
 
<div class="section">
  <label for="comment" class="field-label">Anything else we should know about?</label>
  <label for="comment" class="field prepend-icon">
    <textarea class="gui-textarea" id="comment" name="comment" placeholder="Let us know about any special needs"></textarea>
    <span class="field-icon"><i class="fa fa-comments"></i></span>
    <span class="input-hint"> 
      <strong>Please:</strong> Be as descriptive as possible
    </span>   
  </label>
</div>
</fourm>
      </div>
      <div class="form-footer">
        <button type="submit" class="button btn-primary">Confirm Booking</button>
        <button type="reset" class="button">Cancel</button>
      </div>
       
     
  </div>
</div>
  
    <!-- OUR BOOKING FORM MARKUP -->
  
  </body>
<prefooter>
        <div class="prefooter">

        <p>Our locations: Henderson    Waiheke    Papakura    Albany    Newmarket </p>

         <a class="textcolour" href='https://localhost:44312/Home/AboutUs'>About Us</a> <a class="textcolour" href='https://localhost:44312/Home/Privacy'>Privacy</a>
         
         <p style="padding-top:20px;">Contact us at OverSightcinema@gmail.com or call us at 0800 123 456<p>
    </div>
    </prefooter>

<footer>
        <div class="footer">
        <a href="https://www.facebook.com/"> <img border="0" alt="FaceBook" src="https://icon-library.com/images/facebook-icon-png-white/facebook-icon-png-white-20.jpg" width="50" height="50"></a>
        <a href="https://twitter.com/?lang=en"> <img border="0" alt="Twitter" src="https://cambridgebrc.nihr.ac.uk/wp-content/uploads/2020/06/twitter-icon-white-transparent-6.jpg.png" width="50" height="50"></a>
        <a href="https://www.instagram.com/"> <img border="0" alt="Instagram" src="https://www.logolynx.com/images/logolynx/s_30/304dbd9b624d6051585aac35a3677e9c.png" width="50" height="50"></a>
    </div>
    </footer>
</html>