@model IEnumerable<TeamOverCinema.Models.Events>

@{
    ViewData["Title"] = "Promotions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
.footer {
position:static;
left: 0;
bottom: 0;
width: 150%;
background-color: #262626;
color: white;
text-align: center;
align-content:center;
margin-left: -325px;
padding: 3px;
margin-top: 0px;
margin-bottom: -100px;
}
.prefooter {
position:static;
left: 0;
bottom: 0;
width: 150%;
background-color: #161B22;
color: white;
text-align: center;
align-content:center;
margin-left: -325px;
padding: 3px;
margin-top: 0px;
margin-bottom: 0px;
}


 .column {
    float: left;
    padding: 5px;
}



.left2, .right2
{
    width: 25%;
}

.left, .right { /* sets rows on left and right at 28% so they are contained at tht side within the div */
    width: 49%;
}
/* Adds style to the card div holing texts and other stuff */
.card {
    background-color: #282f4d;
    padding: 20px;
    margin-top: 20px;
}


    </style>
</head>



<div class="text-center">
    <h1 class="display-4">Oversight Promotions</h1>
    <div class="card">
            <h2>Most Popular Promotions</h2>
            <h5>Our club cinema mash up for 12hrs of movies and music!</h5>
            <div class="row">
              <div class="column left2">
              </div>
              <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.6435-9/153143817_10158118200383321_2450525035474577628_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=e3f864&_nc_ohc=2ZpohhrAf6EAX8NpEWo&_nc_ht=scontent-syd2-1.xx&oh=00_AT_uAoDzcrziLdTPt0-sD7r8JnE3wgflX7wtWE6MXHjOxA&oe=62BB196A" style= "height:1%;width:100%;">
                <P style="text-align: center;">This event includes a full day from <b>12pm-12am</b> to overload the senses! Event will be held every <b>Friday for 2022</b> and will include <b>6hrs</b> of movie marthons and hottest movies of the day followed by <b>THE PARTY OF A LIFETIME!</b> with live DJ's and<b> 5 free drinks</b>and a variety of food and drinks to choose from. Ticket sell out quick so book now for <b>$249.99</b></P>
                <a href="https://localhost:44312/Home/AdminSeatSelection" style="text-align: center;"><b>Click here to book!</b></></a>
              </div>
              <div class="column right2">
                
              </div>
            </div>
          </div>
    


    <div class="card">
            <h2 style="text-align: center;">List of deals</h2>
            <div class="row">
              <div class="column left" style="padding-left:24px;">
                  @if (User.Identity.IsAuthenticated)
                 {
                     
<table class="table">
    <tbody>
            <P style="text-align: center; font-size: 20px"><b>Events</b></P>
@foreach (var item in Model) {
        <tr class = "text-light">
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventCode)
            </td>
        </tr>
}
    </tbody>
                </table>
            } else
            {
                <table class="table">
    <tbody>
            <P style="text-align: center; font-size: 20px"><b>Events</b></P>
            <br>
        <h1 style="text-align: center; font-size: 20px">Events is for Registered users only</h1>
    </tbody>
                </table>
            }
        </div>
              <div class="column right">
                  <P style="text-align: center; font-size: 20px"><b>Public event holidays will not change</b></P>
                <P style="text-align: center;">New Years day cinema will open <b>24hrs</b> but prices of movies will be <b>60%</b> cheapear!</P>
                <P style="text-align: center;">Day after New Years day cinema will open from <b>9am-10pm</b> but prices of movies will be <b>40%</b> cheapear!</P>
                <P style="text-align: center;">Waitangi day special all New Zealand films will be <b>50%</b> off and we will provide <b>1</b> free drink with purchase of ticket</P>
                <P style="text-align: center;">Good Friday special all films will be <b>50%</b> off</P>
                <P style="text-align: center;">Easter Monday special all films will be <b>20%</b> off and if you watch one more film with us next next film will be <b>80%</b> off</P>
                <P style="text-align: center;">ANZAC day all Veterans and senior citizens get <b>100%</b> off any one film with <b>Valid ID</b></P>
                <P style="text-align: center;">Labour day all films will be <b>50%</b> off</P>
                <P style="text-align: center;">Mothers day all <b>Mothers</b> will get <b>60%</b> off </P>
                <P style="text-align: center;">Fathers day all <b>Fathers</b> will get <b>20%</b> off </P>
                <P style="text-align: center;">Christmas day oversight cinema's will unffortunatley be be closed to allow staff to relax with family and friends.'<b>20%</b> off</P>
                <p style="text-align: center; font-size: 5px;">Only available On-Site</p>

              </div>
            </div>
          </div>
          <br>
<prefooter>
        <div class="prefooter">

        <p>Our locations: Henderson    Waiheke    Papakura    Albany    Newmarket </p>

         <a class="textcolour" href='https://localhost:44312/Home/AboutUs'>About Us</a> <a class="textcolour" href='https://localhost:44312/Home/Privacy'>Privacy</a>
         
         <p style="padding-top:20px;">Contact us at OverSightcinema@gmail.com or call us at 0800 123 456<p>
    </div>
    </prefooter>

<footer>
        <div class="footer">
        <a href="https://www.facebook.com/"> <img border="0" alt="FaceBook" src="https://icon-library.com/images/facebook-icon-png-white/facebook-icon-png-white-20.jpg" width="50" height="50"></a>
        <a href="https://twitter.com/?lang=en"> <img border="0" alt="Twitter" src="https://cambridgebrc.nihr.ac.uk/wp-content/uploads/2020/06/twitter-icon-white-transparent-6.jpg.png" width="50" height="50"></a>
        <a href="https://www.instagram.com/"> <img border="0" alt="Instagram" src="https://www.logolynx.com/images/logolynx/s_30/304dbd9b624d6051585aac35a3677e9c.png" width="50" height="50"></a>
    </div>
    </footer>
